# Ignore virtual environment
venv/

# Ignore Telegram database
telegram.db

# Ignore configuration file
config.py

# Ignore Python bytecode cache
__pycache__/

# Ignore IDE specific files (e.g., for JetBrains IntelliJ IDEA)
.idea/